In [10]:
import pandas as pd
from hnmchallenge.data_reader import DataReader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


from hnmchallenge.models.top_pop import TopPop
from hnmchallenge.evaluation.python_evaluation import map_at_k
from hnmchallenge.constant import *

In [11]:
import logging
logger = logging.getLogger(__name__)
logging.basicConfig(level=logging.INFO)

In [12]:
dataset = FilterdDataset()
dr = DataReader()

In [13]:
recs = dataset.get_cosine_recs()

In [14]:
features = dataset.get_filtered_feature_dataset()

In [15]:
dataset_df = pd.merge(features, recs, on=[DEFAULT_USER_COL, DEFAULT_ITEM_COL])

In [16]:
dataset_df

,t_dat,customer_id,article_id,price,sales_channel_id,tdiff,max_price,sale_factor,time_score,diff,count,prediction,rank,relevance
0,2018-09-20,0,0,0.008458,2,0.001362,0.008458,0.0000,0.000000,0.214286,633.0,0.005701,10,1
1,2018-09-20,0,0,0.008458,2,0.001362,0.008458,0.0000,0.000000,0.214286,633.0,0.005701,10,1
2,2019-08-05,0,0,0.007610,2,0.002410,0.008458,0.1002,0.556719,0.214286,633.0,0.005701,10,1
3,2018-09-20,1,1,0.033881,1,0.001362,0.033881,0.0000,0.000000,0.125000,335.0,0.002057,66,1
4,2018-09-20,2,2,0.021593,1,0.001362,0.025407,0.1501,0.000000,0.000000,168.0,0.001751,26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13371343,2020-09-14,422963,15729,0.025407,1,0.111111,0.025407,0.0000,1.000000,0.000000,65.0,0.113700,5,1
13371344,2020-09-14,422963,119,0.033881,1,0.111111,0.033881,0.0000,1.000000,0.000000,1767.0,0.113133,6,1
13371345,2020-09-14,422963,14206,0.030492,1,0.111111,0.030492,0.0000,1.000000,0.000000,7.0,0.115616,3,1
13371346,2020-09-14,422963,8827,0.016932,1,0.111111,0.016932,0.0000,1.000000,0.000000,134.0,0.114402,4,1
13371347,2020-09-14,422963,20096,0.042356,1,0.111111,0.042356,0.0000,1.000000,0.000000,0.0,0.115673,2,1

In [17]:
recs

           customer_id  article_id  prediction  rank  relevance
0                    0        1482    0.010251     1          1
1                    0        1638    0.010230     2          1
2                    0        1797    0.009971     3          1
3                    0        4861    0.006985     4          1
4                    0        1652    0.006964     5          1
...                ...         ...         ...   ...        ...
112871595      1128715       15319    0.011680    96          0
112871596      1128715       14259    0.011673    97          0
112871597      1128715       15301    0.011666    98          0
112871598      1128715       12685    0.011542    99          0
112871599      1128715       16899    0.011531   100          0

[112871600 rows x 5 columns]